@model RentalCar.Models.Cidade

@{
    ViewData["Title"] = "Cidades";
}

<h1>Alterar Cidade</h1>
<div>
    <a asp-action="Index">Voltar</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                <select asp-for="IdEstado" asp-items="ViewBag.IdEstado" class="form-select"></select>
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>
            <hr/>
            <div class="form-group">
                <input type="submit" value="Alterar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
