@model RentalCar.Models.Locacao

@{
    ViewData["Title"] = "Locação";
}

<h1>Alterar Locação</h1>
<div>
    <a asp-action="Index">Voltar</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class="form-select" asp-items="ViewBag.IdCliente"></select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCarro" class="control-label"></label>
                <select asp-for="IdCarro" class="form-select" asp-items="ViewBag.IdCarro"></select>
                <span asp-validation-for="IdCarro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diaria" class="control-label"></label>
                <input asp-for="Diaria" class="form-control" />
                <span asp-validation-for="Diaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataLocacao" class="control-label"></label>
                <input asp-for="DataLocacao" class="form-control" />
                <span asp-validation-for="DataLocacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasLocacao" class="control-label"></label>
                <input asp-for="DiasLocacao" class="form-control" />
                <span asp-validation-for="DiasLocacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDevolucao" class="control-label"></label>
                <input asp-for="DataDevolucao" class="form-control" />
                <span asp-validation-for="DataDevolucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorSeguro" class="control-label"></label>
                <input asp-for="ValorSeguro" class="form-control" />
                <span asp-validation-for="ValorSeguro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="observacao" class="control-label"></label>
                <input asp-for="observacao" class="form-control" />
                <span asp-validation-for="observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Alterar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
